<div class="collection-collapse-block" [class.open]="collapse" >
    <h3 class="collapse-block-title" (click)="collapse = !collapse">Categories</h3>
    <div class="collection-collapse-block-content">
      <div class="collection-brand-filter">
        <div class="custom-control custom-checkbox collection-filter-checkbox" >
            <label class="" (click)='appliedCatFilter("All")'>All </label>
        </div>
        <div class="custom-control custom-checkbox collection-filter-checkbox" 
        *ngFor="let category of categoryNames;let i = index">
          <label class="" (click)='appliedCatFilter(category.id)'> {{category.Name }} </label>
        </div>
      </div>
    </div>
</div>