<app-breadcrumb [title]="'Forget Password'" [breadcrumb]="'Forget Password'"></app-breadcrumb>
<!-- section start -->
<section class="pwd-page">
    <div  *ngIf="emailDiv" class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>Forget Your Password</h2>
                <form class="theme-form"  [formGroup]="emailForm" (ngSubmit)="sendPasswordRecoveryEmail()">
                    <div class="form-row">
                        <div class="col-md-12">
                            <label [ngClass]="{ 'text text-danger': emailFormSubmitted && fEmailForm.email.errors }" for="email"><b>Enter Registered Email</b></label>
                            <input  (click)="invalidemail=false" formControlName="email" type="text" class="form-control" id="email" placeholder="Enter your register email" >
                            <label  *ngIf="invalidemail" class='text text-danger' for="review">Email not register.</label>
                        </div>
                        <button class="btn btn-solid" [disabled]="!emailForm.valid ||apiCall">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div  *ngIf="pinDive" class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h3 style="color: black;">Enter Pin Code You Received in Email</h3>
                <div class="theme-form" >
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="userPin"><b>Enter Pin Code</b></label>
                            <input  (keypress)="numberOnly($event)" (click)="userPinError=false" [(ngModel)]="userPin" maxlength="10" type="text" 
                            class="form-control" id="userPin" placeholder="Enter Pin Code" >
                            <label  *ngIf="userPinError" class='text text-danger' for="review">Please enter correct pin code.</label>
                        </div>
                        <button class="btn btn-solid"  (click)='checkPin()' [disabled]="userPin==''">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="newPassword" class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>Create New Password</h2>
                <form class="theme-form" [formGroup]="newPasswordForm" (ngSubmit)="updateUserPassword()">
                    <div class="form-row">
                        <div class="col-md-12">
                            <label [ngClass]="{ 'text text-danger':newPasswordFormValiderror && fnewPasswordForm.password.errors}" for="email"><b>Enter Your New Password</b></label>
                            <input type="password" class="form-control" formControlName="password" id="Password" placeholder="Enter your Password" >
                        </div>
                        <div class="col-md-12">
                            <label *ngIf="!fnewPasswordForm.confirmPassword.errors?.mustMatch"  [ngClass]="{ 'text text-danger':newPasswordFormValiderror && fnewPasswordForm.confirmPassword.errors}"
                                 for="review"><b>Re-Enter New Password</b></label>
                                 <label *ngIf="newPasswordFormValiderror && fnewPasswordForm.confirmPassword.errors?.mustMatch"
                                 [ngClass]="{ 'text text-danger':newPasswordFormValiderror && fnewPasswordForm.confirmPassword.errors?.mustMatch}" 
                                for="password"> Password Must Match</label>
                                <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword" placeholder="Re-Enter your password" >
                        </div>
                        <button class="btn btn-solid" >Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->