<div class="collection-collapse-block" [class.open]="collapse" >
    <h3 class="collapse-block-title" (click)="collapse = !collapse">Material</h3>
    <div class="collection-collapse-block-content">
      <div class="color-selector">
        <div class="collection-brand-filter">
          <!-- <div class="custom-control custom-checkbox collection-filter-checkbox"
            *ngFor="let material of filterbymaterial">
            <input type="checkbox" 
              [value]="material"
              [checked]="checked(material)"
              [id]="material"
              (change)="appliedFilter($event)" 
              class="custom-control-input" />
            <label class="custom-control-label" for="{{ material }}">{{ material }}</label>
          </div> -->
          <div class="custom-control custom-checkbox collection-filter-checkbox" >
            <label class="" (click)='appliedFilter("Polyester")'>Polyester </label>
        </div>
        <div class="custom-control custom-checkbox collection-filter-checkbox" >
          <label class="" (click)='appliedFilter("Silk")'>Silk </label>
        </div>
       <div class="custom-control custom-checkbox collection-filter-checkbox" >
        <label class="" (click)='appliedFilter("Wool")'>Wool </label>
       </div>
        </div>
      </div>
    </div>
</div>