<app-breadcrumb [title]="'Returns'" [breadcrumb]="'Returns'"></app-breadcrumb>
<section>
<div class="container">
<h4>Returns:</h4>
<p>
    If you’re not completely satisfied with your purchase or you have changed your mind, please return the item(s) within 30 days of delivery using the returns label on the back of your receipt. Please state on the returns label the reason for return.

    <br>
To be eligible for a refund, the item(s) must be unused, in their original packaging and in a sellable condition. Return postage is at your own cost and risk.
<br>
We will notify you once we have received your item(s). If your return is approved, you refund will be credited back to your original method of payment.
<br>
We will notify you when we have processed your refund payment. Please allow 5-10 working days for your refund to be credited to your account.
<br>
For more info about our returns policy, please visit our terms and conditions page.

</p>
</div>
</section>