<app-breadcrumb [title]="'Delivery Returns Policy'" [breadcrumb]="'Delivery Returns Policy'"></app-breadcrumb>
<section>
<div class="container">
<h4>Delivery Policy:</h4>
<h6>All orders are despatched via Royal Mail Standard Delivery.</h6>
<p>
<b>Standard Delivery £3.95<br>
Free Delivery on all orders over £30
</b>
</p>
<p>
    Orders placed before 3pm Monday to Friday are typically processed and dispatched on the same working day. Orders placed after 3pm Monday to Friday are processed and dispatched the following working day. Orders placed after 3pm on Friday will be dispatched on Monday, unless a Bank Holiday then Tuesday.
<br>
You will receive an email informing you when your order has been dispatched to you. Please allow 3-5 working days for your order to arrive. If you haven’t received your order after 10 working days, please contact customer service who will be happy to help you.
    <br>
    For more info about our delivery policy, please visit our terms and conditions page.
</p>
</div>
</section>