<app-breadcrumb [title]="'Terms and Conditions'" [breadcrumb]="'Terms and Conditions'"></app-breadcrumb>
<section class="blog-wrapper">
    <div class="container">
       <div id="content" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="row">
             <div class="blog-masonry">
                <div class="col-lg-12">
                   <div class="doc row">
                      <div class="col-lg-12">
                         <p style="font-size: larger;">
                            These terms and conditions are the contract between you and GK Direct (“us”, “we”, etc). By
                            visiting or using Our Website, you agree to be bound by them. We are GK Direct. Our address
                            is 16 Monkswood Avenue, Leeds, LS14 1DQ. You are: Anyone who uses Our Website.
                            Please read this agreement carefully and save it. If you do not agree with it, you should
                            leave Our Website immediately.
                         </p>
                         <h4>The terms and conditions:</h4>
                         <h5>1. Definitions In this agreement:
                         </h5>
                         <table style="width:100%; font-size: small;">
                            <tr>
                               <td>"Carrier"</td>
                               <td>means any person or business contracted by us to carry Goods from us to you.</td>
                            </tr>
                            <tr>
                               <td>"Consumer"</td>
                               <td>means any individual who, in connection with this agreement, is acting for a purpose
                                  which is outside his business.</td>
                            </tr>
                            <tr>
                               <td>"Content"</td>
                               <td>means any content in any form published on Our Website by us or any third party with
                                  our consent.</td>
                            </tr>
                            <tr>
                               <td>"Goods"</td>
                               <td>means any of the goods we offer for sale on Our Website, or, if the context requires,
                                  goods we sell to you. </td>
                            </tr>
                            <tr>
                               <td>"Our Website"</td>
                               <td>means any website of ours, and includes all web pages controlled by us. </td>
                            </tr>
                            <tr>
                               <td>"Post"</td>
                               <td>means display, exhibit, publish, distribute, transmit and/or disclose information,
                                  Content and/or other material on to Our Website, and the phrases "Posted" and "Posting"
                                  shall be interpreted accordingly. </td>
                            </tr>
                         </table>
                         <br />
                         <h5>2. Interpretation</h5>
                         <p>In this agreement unless the context otherwise requires:<br />
                            2.1 &nbsp; A reference to a person is a reference to one or more individuals, whether or not
                            formally in partnership, or to a corporation, government body, or other association or
                            organisation.<br />
                            2.2 &nbsp; these terms and conditions apply to all supplies of Goods by us to any customer.
                            They prevail over any terms proposed by you.<br />
                            2.3 &nbsp; any agreement by any party not to do or omit to do something includes an
                            obligation not to allow some other person to do or omit to do that same thing;<br />
                            2.4 &nbsp; any obligation of any person arising from this agreement may be performed by any
                            other person;<br />
                            2.5 &nbsp; in this agreement references to a party include references to a person to whom
                            those rights and obligations are transferred or passed as a result of a merger, division,
                            reconstruction or other re-organisation involving that party.<br />
                            2.6 &nbsp; the headings to the paragraphs and schedules (if any) to this agreement do not
                            affect the interpretation;<br />
                            2.7 &nbsp; a reference to an act or regulation includes new law of substantially the same
                            intent as that act or regulation.<br />
                            2.8 &nbsp; in any indemnity, a reference to costs or expenses shall be construed as including
                            the estimated cost of management time of the indemnified party.<br />
                            2.9 &nbsp; these terms and conditions apply in any event to you as a buyer or prospective
                            buyer of our Goods and so far as the context allows, to you as a visitor to Our
                            Website.<br />
                            2.10 &nbsp; this agreement is made only in the English language. If there is any conflict in
                            meaning between the English language version of this agreement and any version or translation
                            of this agreement in any other language, the English language version shall prevail.<br />
                         </p>
                         <h5>3. Our contract with you</h5>
                         <p>
                            3.1 &nbsp; This agreement contains the entire agreement between the parties and supersedes
                            all previous agreements and understandings between the parties.<br />
                            3.2 &nbsp; Each party acknowledges that, in entering into this agreement, he does not rely on
                            any representation, warranty, information or document or other term not forming part of this
                            agreement.<br />
                            3.3 &nbsp; If you use Our Website in any way and make an order on behalf of another person
                            you warrant that you have full authority to do so and you accept personal responsibility for
                            every act or omission by you.<br />
                            3.4 &nbsp; We do not guarantee that Goods advertised on Our Website are available. We may
                            change these terms from time to time. The terms that apply to you are those posted here on
                            Our Website on the day you order Goods.<br />
                            3.5 &nbsp; The price of Goods may be changed by us at any time. We will never change a price
                            so as to affect the price charged to you at the time when you buy those Goods.<br />
                            3.6 &nbsp; If in future, you buy Goods from us under any arrangement which does not involve
                            your payment via Our Website; these terms still apply so far as they can be applied. <br />
                            3.7 &nbsp; We do not sell the Goods in all countries. We may refuse to deliver the Goods if
                            you live in a country we do not serve.<br />
                         </p>
                         <h5>4. Acceptance of your order</h5>
                         <p>
                            4.1 &nbsp; Your order is an offer to buy from us. Nothing that we do or say will amount to
                            any acceptance of that offer until we actually dispatch the Goods to you. At any point up
                            until then, we may decline to supply the Goods to you without giving any reason.<br />
                            4.2 &nbsp; Your order is an offer to buy from us. We shall accept your order by e-mail
                            confirmation. That is when our contract is made. Our message will also confirm details of
                            your purchase and tell you when we shall despatch your order.<br />
                            4.3 &nbsp; If we do not have all of the Goods you order in stock, we will offer you
                            alternatives. If this happens you may:<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.3.1 &nbsp; accept the alternatives we
                            offer;<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.3.2 &nbsp; cancel all or part of your
                            order.
                         </p>
                         <h5>5. Price and payment</h5>
                         <p>
                            5.1 &nbsp; The price payable for the Goods that you order is clearly set out on Our
                            Website.<br />
                            5.2 &nbsp; It is possible that the price may have increased from that posted on Our Website.
                            If that happens, we will not despatch the Goods until you have confirmed that you wish to buy
                            at the new price.<br />
                            5.3 &nbsp; If the item you order is available in parts, you must pay us the full price of
                            your order before we will send any part of it.<br />
                            5.4 &nbsp; Bank charges by the receiving bank on payments to us will be borne by us. All
                            other charges relating to payment in a currency other than pounds Sterling will be borne by
                            you.<br />
                            5.5 &nbsp; Any information given by us in relation to exchange rates are approximate only and
                            may vary from time to time.<br />
                            5.6 &nbsp; If, by mistake, we have under-priced Goods, we will not be liable to supply that
                            those Goods to you at the stated price, provided that we notify you before we dispatch it to
                            you. <br />
                            5.7 &nbsp; The price of the Goods does not include the delivery charge which will be charged
                            at the rates applicable at the date you place your order and which will be displayed on a
                            page of Our Website before we ask you to pay.<br />
                            5.8 &nbsp; If we owe you money (for this or any other reason), we will credit your credit or
                            debit card as soon as reasonably practicable but in any event no later than 14 days from the
                            date when we accept that repayment is due.<br />
                         </p>
                         <h5>6. Security of your credit card</h5>
                         <p>
                            We take care to make Our Website safe for you to use.<br />
                            6.1 &nbsp; Card payments are not processed through pages controlled by us. We use one or more
                            online payment service providers who will encrypt your card or bank account details in a
                            secure environment.<br />
                         </p>
                         <h5>7. Cancellation and refunds</h5>
                         <p>
                            This and the following paragraph apply if you buy as a consumer as defined in the Consumer
                            Contracts (Information, Cancellation and Additional Charges) Regulations 2013 (the
                            “Regulations”). Provided the Regulations apply to the transaction concerned, then the
                            following terms apply to the contract.<br />
 
                            7.1 &nbsp; We now inform you that information relating to all aspects of our Goods is not in
                            this document but in our marketing material, whether that is in the medium of Our Website or
                            in hard copy.<br />
                            7.2 &nbsp; The following rules apply to cancellation of your order:<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 7.2.1 &nbsp; If you have ordered Goods, but
                            not received them, you may cancel your order without giving a reason, at any time within 30
                            days of your order. You will have no obligation and we will return your money.<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 7.2.2 &nbsp; If you have ordered Goods, and
                            received them, you may cancel your order at any time within 30 days of the date you received
                            them. You must also send the Goods back to us within that same 30 day period using the
                            returns form on the back of your receipt.<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 7.2.3 &nbsp; We will return your money
                            subject to the following conditions:<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            7.2.3.1 &nbsp; we receive the Goods in a condition in which we can re-sell them at full
                            price, in new condition, with labels and packaging intact. <br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            7.2.3.2 &nbsp; you comply with our procedure for returns and refunds. We cannot return your
                            money unless we know who sent them. <br />
                            7.3 &nbsp; The option to cancel your order is not available:<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 7.3.1 &nbsp; if you purchase sealed goods
                            which relate to health or hygiene, and they become unsealed after delivery, or cannot be
                            re-sold for some other reason;<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 7.3.2 &nbsp; if they are a hard medium for a
                            product in soft copy, which comes to you sealed and is returned to us unsealed.<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 7.3.3 &nbsp; If the Goods are somehow mixed
                            with other goods so that we cannot identify or easily separate them. .<br />
                            7.4 &nbsp; You are responsible for the cost of returning the Goods. We have no obligation to
                            refund to you, your cost of re-packing and returning the Goods.<br />
                            7.5 &nbsp; In any of the above scenarios, we will return your money within 5-10 working
                            days.<br />
                         </p>
                         <h5>8. Liability for subsequent defects</h5>
                         <p>
                            8.1 &nbsp; Please examine the Goods received from us immediately you receive them. If you do
                            not tell us of any defect or problem within 30 days of receipt of the Goods, we shall assume
                            that you have accepted them.<br />
                            8.2 &nbsp; The procedure to return the faulty Goods is as follows:<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8.2.1 &nbsp; the Goods must be returned to
                            us as soon as any defect is discovered but not later than six months from receipt by
                            you.<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8.2.2 &nbsp; please follow the returns
                            procedure provided on our website..<br />
                            8.3 &nbsp; We will return your money subject to the following conditions:<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8.3.1 &nbsp; we receive the Goods with
                            labels and packaging intact.<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8.3.2 &nbsp; you comply with our returns
                            procedure. We cannot return your money unless we know who sent them.<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8.3.3 &nbsp; you tell us clearly what is the
                            fault you complain of, when it first became apparent, and other information to enable us to
                            identify or reproduce it.<br />
                            8.4 &nbsp; If any defect is found, then we shall:<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8.3.1 &nbsp; repair or replace the Goods,
                            or<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8.3.2 &nbsp; refund the full cost you have
                            paid including the cost of returning the Goods.<br />
                            8.5 &nbsp; In any of the above scenarios, we will return your money within 5-10 working
                            days.<br />
                         </p>
                         <h5>9. Delivery</h5>
                         <p>
                            9.1 &nbsp; Goods are delivered within 30 days from the day you place an order to purchase the
                            Goods.<br />
                            9.2 &nbsp; Deliveries will be made by the Carrier to the address stipulated in your order.
                            You must ensure that someone is present to accept the delivery.<br />
                            9.3 &nbsp; We may deliver the Goods in instalments if they are not all available at the same
                            time for delivery.<br />
                            9.4 &nbsp; When your Goods arrive, it is important that you check immediately the condition
                            and quantity. If your Goods have been damaged in transit, you must contact us immediately so
                            that we
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;may dispatch a replacement
                            quickly and minimise your inconvenience.<br />
                            9.5 &nbsp; Goods are sent by post. We will send you a message by email to tell you when we
                            have despatched your order.<br />
                            9.6 &nbsp; Time for delivery specified on the order, if any, is an estimate only and time
                            shall not be of the essence. <br />
                         </p>
                         <h5>10. Foreign taxes and duties</h5>
                         <p>
                            10.1 &nbsp; If you are not in the UK, we have no knowledge of, and no responsibility for, the
                            laws in your country.<br />
                            10.2 &nbsp; You are responsible for purchasing Goods which you are lawfully able to import
                            and for the payment of import duties and taxes of any kind levied in your country.<br />
                         </p>
                         <h5>11. Goods returned</h5>
                         <p>
                            These provisions apply if you buy from us other than being a Consumer. The following rules
                            apply to return the faulty Goods:<br />
                            11.1 &nbsp; We will accept returns where there was a defect in the Goods at the time of
                            purchase, or we have agreed in correspondence that you may return them.<br />
                            11.2 &nbsp; The Goods must be returned to us as soon as any defect is discovered but not
                            later than 30 days.<br />
                            11.3 &nbsp; So far as possible, Goods should be returned:<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 11.3.1 &nbsp; with both Goods and all
                            packaging as far as possible in their original condition;<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 11.3.2 &nbsp; securely wrapped;<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 11.3.3 &nbsp; including our delivery
                            slip/receipt;<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 11.3.4 &nbsp; at your risk and cost.<br />
                            11.4 &nbsp; The procedure for return of Goods is set out on Our Website. If you do not follow
                            this procedure, we may be unable to identify you as the sender of the Goods.<br />
                            11.5 &nbsp; In returning faulty Goods please encloses with it a note clearly stating the
                            fault and when it arises or arose.<br />
                            11.6 &nbsp; If we agree that the Goods are faulty, we will:<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 11.6.1 &nbsp; refund the cost of return
                            carriage;<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 11.6.2 &nbsp; repair or replace the Goods as
                            we choose.<br />
                            11.7 &nbsp; If we repair or replace the Goods, you have no additional claim against us either
                            under this agreement or by statute or common law, in respect of the defect.<br />
                         </p>
                      </div>
 
                   </div><!-- end doc -->
                </div><!-- end col-lg-12 -->
             </div><!-- end blog-masonry -->
          </div><!-- end row -->
       </div><!-- end content -->
    </div><!-- end container -->
 </section>