<!-- Start Categories List -->
<div class="collection-collapse-block border-0" [class.open]="collapse">
    <h3 class="collapse-block-title" (click)="collapse = !collapse">Category</h3>
    <div class="collection-collapse-block-content">
        <div class="collection-brand-filter">
            <ul class="category-list">
                <li>
                    <a [routerLink]="['/shop/collection/left/sidebar']"   >
                       All
                    </a>
                </li>
                <li *ngFor="let category of categoryNames;let i = index">
                    <a [routerLink]="['/shop/collection/left/sidebar']"
                       [queryParams]="{ category: category.id+','+category.Name}">
                        {{category.Name }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Categories List -->